* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 30vw;
  height: 30vh;
}

.slideImage {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  top: 0px;
  left: 0px;
}
